body {
    margin: 0;
    /* padding: 0; */
}

.container {
    background-color: black;
    justify-content: center;
    width: 450px;
    margin: 0 auto;
}

.screen {
    height: 100px;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 32px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    min-height: 500px;
    margin: 0 auto;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.col {
    flex: 1;
    display: flex;
    height: 400px;
    min-height: 400px;
    flex-direction: column;
}

.button {
    flex: 1;
    border-radius: 100px;
    border-style: none;
    font-size: 32px;
    /* height: 400px;
    min-height: 400px; */
    /* outline: black 1px solid;
    color: white;
    background-color: white; */
}

.number {
    background-color: #6D6D6D;
    color: white;
}

.black {
    background-color: #333333;
}

.orange {
    background-color: #ff9f0a;
    color: white;
}

.gray {
    background-color: #a5a5a5;
}

.dot {
    color: white;
}

.zero {
    flex: 2;
}